@font-face {
	font-family: "Laica Italic";
	src: url(../assets/fonts/ABCLaicaBItalicVariable-Trial.woff) format("woff");
}
@font-face {
	font-family: "Laica";
	src: url(../assets/fonts/ABCLaicaBVariable-Trial.woff) format("woff");
}
@font-face {
	font-family: "Alpa";
	src: url(../assets/fonts/GT-Alpina-Italic-VAR-Trial.ttf) format("ttf");
}
@font-face {
	font-family: "Diatype mono";
	src: url(../assets/fonts/ABCDiatypeMono-Light-Trial.woff) format("woff");
}

:root {
	--notes-padding: 10px;
}

* {
	box-sizing: border-box;
	font-family: "Diatype mono", sans-serif;
	margin: 0;
	padding: 0;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Diatype mono", sans-serif;
}

button:focus {
	outline: none;
}

/* Start page */
.start-page {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: whitesmoke;
}

.start-page__heading {
	font-family: "Laica";
}

.start-page__button {
	font-family: "Diatype mono";
	position: relative;
	cursor: pointer;
	background-color: whitesmoke;
	border: 1px solid green;
	color: green;
	border-radius: 50%;
	padding: 1rem;
	transition: all 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	z-index: 1;
}

.start-page__button:after {
	content: "";
	position: absolute;
	background: white;
	box-shadow: #e39dff -14px 0px 15px 0px, #ffff9c 14px 0px 15px 0px;
	border-radius: 50%;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	z-index: -1;

	-webkit-transition: box-shadow 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),
		opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
	transition: box-shadow 0.4s cubic-bezier(0.39, 0.575, 0.565, 1),
		opacity 0.2s cubic-bezier(0.39, 0.575, 0.565, 1);
}

.start-page__button:hover {
	scale: 1.1;

	color: black;
}

.start-page__button:hover:after {
	opacity: 1;
	box-shadow: #e39dff -14px 0px 15px 8px, #ffff9c 14px 0px 15px 8px;
}

.start-page__img {
	width: 130px;
}

/* Sidebar */
.sidebar {
	overflow-y: auto;
	width: 20%;
	/* min-height: 100vh; */
}

.sidebar * {
	color: green;
}

.sidebar__header {
	display: flex;
	justify-content: space-between;
	align-items: center;

	padding-inline: var(--notes-padding);
	height: 4rem;
}

.sidebar__new-note-button {
	background-color: transparent;
	border: none;
	font-size: 3rem;
	cursor: pointer;
}

::-webkit-scrollbar {
	width: 2rem;
}

::-webkit-scrollbar-track {
	border-left: 1px green solid;
}

::-webkit-scrollbar-thumb {
	background: #e39dff;
	border: 1px green solid;
	border-right: none;
}
/* 
@supports (scrollbar-color) {
	* {
		scrollbar-color: red blue;
	}
} */

.notes__list-item {
	overflow: hidden;
	width: 100%;
	cursor: pointer;
	padding-inline: 10px;
	padding-block: 15px;
	border-top: 1px solid green;

	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 3px;
}

.notes__list-item:last-child {
	border-bottom: 1px solid green;
}

.notes__list-item--selected {
	background-color: rgb(210, 210, 210);
	/* background: linear-gradient(45deg, #e39dff, #ffff9c); */
}

.notes__delete-button {
	display: none;
	background: none;
	border: none;
	cursor: pointer;
}

.notes__delete-button svg {
	fill: green;
	width: 1.6rem;
	height: 1.6rem;
}

.notes__list-item:hover .notes__delete-button {
	display: block;
}

.notes__text-snippet {
	font-size: 0.8rem;
	font-weight: 400;
	line-height: 2rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Editor */

.split {
	display: flex;
}

.react-mde {
	border: none;
}

.editor {
	width: 80%;
	height: 100vh;
}

.mde-header {
	background: linear-gradient(45deg, #e39dff, #ffff9c);
	padding-inline: var(--notes-padding);
	height: 4rem;
	border-bottom: 1px solid black;
	align-items: center;
}

.gutter {
	background: rgb(210, 210, 210);
	border-inline: 1px solid black;
}

.gutter.gutter-horizontal:hover {
	cursor: col-resize;
}

.mde-header .mde-tabs button.selected {
	border: none;
}
